.footer
  .by_farbox
    a(href="https://github.com/Ben02/hexo-theme-Anatole/wiki")  Theme by 
    span &
    a(href="https://www.caicai.me")  CaiCai 
    span &
    a(href="https://hexo.io/zh-cn/", target="_blank")  Published with Hexo&#65281;
